@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    color: #FFF !important;
    background-color: #1D2228 !important;
    font-family: 'Raleway', sans-serif;
}

h2, h3 {
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px -1px #283655;
}

li {
    list-style-type: none;
}

/* ********************** HEADER ********************** */
.navbar {
    background-color: #FB8122;
    height: 42px;
    transition: 0.7s;
}

.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-link {
    color: #FFF !important;
    font-size: 1.2em;
    text-transform: uppercase;
}

header {
    text-align: center;
    height: 100%;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Codystar';
    background: #1D2228;
}

.neons {
    margin-top: 60px;
    text-align: center;
}

.neons h1 {
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #FB8122, 0 0 20px #FB8122, 0 0 30px #FB8122, 0 0 40px #FB8122, 0 0 50px #FB8122, 0 0 60px #FB8122, 0 0 70px #FB8122, 0 0 90px #FB8122;
    }
    
    to {
        color: gray;
        text-shadow: 0 0 20px #FB8122, 0 0 30px #FB8122, 0 0 40px #FB8122, 0 0 50px #FB8122, 0 0 60px #FB8122, 0 0 70px #FB8122, 0 0 80px #FB8122, 0 1 90px #FB8122;
    }
}

h1 {
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
}

#line {
    height: 1px;
    background-color: #FB8122;
    width: 25%;
    margin: 0 auto;
}

h2{
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
    
}

.presentation {
    height: 240px;
    margin-top: 20px;
}

.infos {
    border: 2px solid #FB8122;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

.infos .typed {
    font-size: 1.5em;
}

#text-intro {
    padding: 0 3%;
}


.photo {
    border: 2px solid #FB8122;
    position: relative; 
}

.photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 90%;
    border-radius: 3px;
    box-shadow: 0 0 4px #111;
}

header .button {
    margin-top: 15%;
    margin-bottom: 15%;
}

header .button a {
    padding: 20px 80px;
    border: 1px solid #FB8122;
    width: 300px;
    color: #E1E2E2;
}

header .button:hover a {
    background: #FB8122;
    color: #E1E2E2;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* ********************** LANGAGES ********************** */
#langages {
    padding: 100px 0px 80px 50px;
    margin: 5% 0 0 6%;
    height: 580px;
    width: 40%;
    max-width: 640px;
    min-width: 300px;
    border: 2px solid #FB8122;    
}

#langages h3 {
    font-size: 2em;
    padding-bottom: 1%;
}

#langages .bar {
    padding: 10px 0 20px;
    letter-spacing: 0.1em;
    font-size: 2.5em;
}

#langages img {
    width: 64px;
}

/* ********************** FORMATIONS ********************** */
#formations {
    top: -200px;
    float: right;
    margin: 0 6%;
    padding: 110px 0 60px 50px;
    width: 45%;
    max-width: 650px;
    border: 2px solid #FB8122 ;    
}

#EPSI {
    padding-top: 20px;
}

#autodidacte {
    padding: 50px 0 0 3%;
}
    
#eni-ecole-informatique {
    padding: 50px 0 0 6%;
}

#formation h4 {
    font-weight: bold;
    letter-spacing: 0.8em;
    padding-bottom: 10px;
    color: #E1E2E2;
    text-shadow: -1px -1px -1px #35b4d5;    
}

.counter{
    display: flex;
    text-align: center;
}

.data {
    border: 1px solid #FB8122;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 8px #826a58;
    padding: 5px 20px;
}

.counter-value {
    font-size: 2em;
}

.data-span {
    font-size: 1.8em;
}

/* ********************** PARCOURS ********************** */
#parcours {
    max-width: 800px;
    margin: 780px auto 180px;
    padding: 40px 30px 100px;
    background-size: cover;
    border-radius: 8px;
    /* box-shadow: -1px -1px 8px #FB8122; */
    border: solid 2px #FB8122;
}

#parcours h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
}

#parcours h4 {
    font-size: 1.6em;
    color: #ff4e50;
    margin-left: 20px;
}

#parcours h6 {
    font-style: italic;
    color: #edca21;
    margin-left: 20px;
}

#parcours p {
    line-height: 1.9em;
}

.timeline{
    border-top: 3px solid;
    border-image: linear-gradient(to right, #f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 40px;
    position: relative;
}

.timeline:nth-child(1):after {
    content: '▲';
    color: #ff4e50;
    position: absolute;
    top: -10px;
    right: -10px;
    box-sizing: content-box !important;
}

.timeline:nth-child(1) {
    border-bottom: 3px solid;
    border-top: none;
    width: 80%;
}

.timeline:nth-child(2) {
    border-top: none;
}

.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.timeline:nth-child(even){
    border-left: 3px solid;
    padding-right: 0 ;
}

/* ********************** PORTFOLIO ********************** */

#portfolio {
    margin: 100px 2% 0 2%;
    padding: 40px 10px 60px 40px;
    background-color: #1D2228;
    box-shadow: 0px 0px 1px #FB8122;
    color: #E1E2E2;
    border: 2px solid #FB8122;
}

#portfolio h3 {
    font-size: 3em;
    padding-bottom: 15px;
}

.projet {
    display: flex;
}

.projet:nth-child(2) {
    margin-left: 5%;
}
.projet:nth-child(3) {
    margin-left: 10%;
}

.cadre {
    position: relative;
    padding: 40px 20px 25px 0;
    width: 60%;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 8px;
    color: #E1E2E2;
    text-align: center;
}

.img-container {
    height: 250px;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #111;
}

.img-container img {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.img-container:hover img {
    transform: scale(1.07);
    transform-origin: 50%;
    filter: contrast(120%);
    transition: 0.3s ease-in-out;
}

.cadre:before, .cadre:after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 1px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
    z-index: -1;
}

/* .cadre:before {
    top: 15px;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.cadre:after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.cadre:hover:before, .cadre:hover:after {
    border-color: #aca49c;
    width: 100%;
    height: 100%;
} */
.legend {
    max-width: 350px;
    padding: 50px 0 0 20px;
    opacity: 0;
    transition: 5s ease-in-out;
}

.projet:hover .legend{
    opacity: 1;
    transition: 1.5s ease;
}

.legend a {
    padding: 16px 10px 10px 10px;
    margin-top: 20px;
    font-size: 1.1em;
    float: right;
    border-radius: 3px;
    background: #e2dedb;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    
}

.legend a:hover {
    animation: shadow-push 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    
} 
/* ANIMATION BOUTTON GITHUB PORTFOLIO */
@keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        -webkit-transform: translateX(-6px) translateY(-6px);
        transform: translateX(-6px) translateY(-6px);
    }
}

@keyframes shadow-push {
    0% {
        -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        -webkit-transform: translateX(-6px) translateY(-6px);
        transform: translateX(-6px) translateY(-6px);
    }
    100% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        
    }
}

/* ********************** OTHER-SKILLS ********************** */
#other-skills {
    margin-top: 80px;
    padding: 50px 100px 100px 100px;
    width: 100%;
    background-color: #1D2228;
}

#other-skills h3 {
    font-size: 3em;
    padding-top: 30px;
    text-shadow: -1px 1px 0 #E1E2E2;
    color: #E1E2E2;
}

.cloud {
    text-align: center;
    padding: 50px 0;
    font-size: 2em;
    text-transform: uppercase;
}

.cloud span {
    font-size: 1.3em ; 
    color: #FB8122;
    text-shadow: 1px 1px 0 #FB8122;
}

/* ********************** HOBBIES ********************** */
#hobbies {
    padding: 100px 50px 100px 50px;
    margin: -150 0 -90px 0;
    background: #1D2228;
    color: #E1E2E2;
}

#hobbies h3 {
    font-size: 3em;
    text-shadow: -1px 1px 0px #375e97;
}

.pictures {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.flip-box{
    margin: 0 auto;
    
}

.flip-box-front img {
    padding: 29%;
}

.flip-box-back div {
    height: 100%;
    margin: 0 auto;
    text-orientation: upright;
    text-align: center;
}

.flip-box-back p {
    text-transform: uppercase;
    padding: 15px;
    font-size-adjust: auto;
}

.flip-box-back {
    color: 1.3em;
    transform: rotateY(180deg);
    background-color: #1D2228;
    padding: 15px 0px;
}

.flip-box-back, .flip-box-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}

.flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 300px;
    background-color: #FB8122;
    border: 1px solid #FB8122;
}

.flip-box-inner {
    position:relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}

/* ********************** FOOTER ********************** */
footer {
    background-size: cover;
    text-align: center;
    padding: 160px 50px 5 50px;
    border-top: 1px solid #FB8122;
}

footer h3{
    padding: 150px 0 60px 0;
    font-size: 2.5em;   
}

.footer-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}

.network {
    font-size: 4em;
    border: 1px solid #FB8122;
    padding: 30px 45px;
    color: #FB8122;
    z-index: -1 !important;
    border-radius: 50%;
}

.network:hover, textarea:hover, input:hover, .form-button:hover {
    background: #E1E2E2;
    transition: all 0.3s ease-in-out;
    color: #FB8122;
}

.form-container {
    padding-top: 20px;
}

#reused_form{
    position: relative;
    margin: 50px auto;
}

input{
    font-size: 0.85em;
    width: 470px;
    height: 50px;
    padding: 0 15px;
    background: transparent;
    outline: none;
    color: #E1E2E2;
    border: solid 1px #FB8122;  
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#email {
    border-radius: 0%;
}

textarea{
    width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #E1E2E2;
    border: solid 1px #FB8122;
    resize: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input::placeholder, textarea::placeholder,
input:focus::placeholder, textarea:focus::placeholder{
    color: #E1E2E2;
}

input:hover::placeholder, textarea:hover::placeholder,
input:hover:focus::placeholder, textarea:hover:focus::placeholder{
    color: #FB8122;
}

.form-button{
    border: solid 1x #FB8122;
    padding: 20px 75px;
    margin: 14px 0 -20px 0;
    color: #E1E2E2;
    background: transparent;
}

.form-container h4 {
    font-size: 2em;
}

#error_message {
    color: red;
    border: 1px solid red;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 15px 8px 8px;
    box-shadow: 0 0 5px red;
}

#success_message {
    color: green;
    border: 1px solid green;
    max-width: 400px;
    padding: 50px;
    box-shadow: 0 0 5px green;
}

.arrow {
    width: 50px;
    margin: -20px auto;
    padding-top: 15px;
    animation: arrow linear 1.5s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    38% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.arrow a {
    font-size: 3em;
    border: none;
    color: #FB8122;
}

.arrow:hover i {
    transform: scale(1.6);
    transition: 0.5s ease-in-out;
    color: #E1E2E2;
}

footer p {
    font-size: 0.9em;
    letter-spacing: 0.3em;
}


/********************* MEDIA QUERIES **********************/
@media screen and (max-width: 1600px){


    #langages {
        margin: 0 20px 0 6%;
    }
    
    #formations {
        margin: 0 2% 0 6%;
    }
}

@media screen and (max-width: 1400px){


    header .button {
        margin-top: 200px;
    }

    #langages {
        margin: 100px 20px 0 6%;
    }
    
    #formations {
        margin: 0 2% 0 6%;
    }
}

@media screen and (max-width: 1040px){

    h1 {
        font-size: 4.5em;
    }

    header .button {
        margin-top: 250px;
    }

    #langages {
        margin: 90px 0 0 6%;
    }
    
    .flip-box {
        max-width: 250px;
        height: 250px;
    }
    
    .flip-box-front img {
        padding: 25%;
    }
}

@media screen and (max-width: 990px){
    .infos h5, .typed {
        font-size: 0.9em;
    }
    
    header .button {
        margin-top: 250px;
    }

    #langages {
        margin: 70px 0 0 6%;
        margin-left: 1%;
    }
    
    #formations {
        margin-right: 1%;
        padding: 110px 0 30px 33px;
    }
    
    .network{
        font-size: 2em;
        padding: 10px 20px;
    }
    
    .projet {
        display: block;
    }
    
    .pictures {
        flex-direction: column;
    }
    
    .flip-box {
        margin: 2% auto;
    }
    
    .flip-box, .flip-box-inner {
        max-width: 250px;
        height: 250px;
    }
    
    .flip-box-front img {
        padding: 25%;
    }
}

@media screen and (max-width: 770px) {
    .navbar {
        display: none !important;
    }
    
    .fixed-top {
        position: unset !important;
    }

    .neons {
        margin-top: 2%;
    }
    
    h1 {
        font-size: 53px !important;
    }

    h2 {
        font-size: 2em !important;
    }

    .presentation {
        justify-content: center;
    }

    #text-intro {
        width: 100%;
        position: absolute;
        margin: 280px 0 0;
        padding: 0 10%;
        width: 100%;
    }

    .typed {
        font-size: 15px;
    }

    #btn-cv  {
        margin-top: 460px;
    }
    
    #langages {
        width: 80%;
        margin: 80px 10% 0;
    }
    
    #formations {
        margin: 50px auto 0;
        width: 80%;
        float: none;
        display: block;
    }
    
    .counter-value {
        font-size: 1em;
    }
    
    .data-span {
        font-size: .8em;
    }
    
    #parcours {
        margin: 50px 25px 180px;
    }

    .timeline {
        padding: 15px;
    }
    
    .legende p {
        display: none;
    }
    
    #other-skills h3, #hobbies h3, footer h3 {
        font-size: 2em;
    }
    
    .cloud {
        font-size: 1em;
    }
    
    .projet {
        display: block;
    }
    
    .flip-box-back p {
        padding: 7px 0px;
    }
    
    .network {
        font-size: 1.4em;
        padding: 14px 20px;
    }
    
    input, textarea {
        width: 300px;
    }
}

@media screen and (max-width: 560px) {

    
    h1 {
        padding-top: 20px;
        margin-top: -30px;
        font-size: 2em !important;
    }

    .neons {
        margin-top: 10%;
    }

    h2 {
        font-size: 1.5em !important;
    }

    #web-dev {
        padding: 20px 0;
    }
    
    h3 {
        font-size: 1.3em !important;
    }

    .typed {
        font-size: 12px;
    }

    #btn-cv {
        margin-top: 400px;
    }

    #langages {
        margin: 85px 10% 0;
    }
    
    #fcc, #occ {
        padding: 50px 0 0 0;
    }
    
    .projet {
        display: block;
    }
    
    #formations {
        padding: 20px 10px 10px;
        width: 84% !important;
    }
    
    #portfolio {
        height: 1525px ;
    }
    
    .cadre {
        display: contents;
        position: relative;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        color: #E1E2E2;
        text-align: center;
        overflow: visible;
    }
    
    .projet:nth-child(2), .projet:nth-child(3) {
        margin-left: 0;
        padding-top: 30%;
    }
    
    .legend {
        opacity: 1;
        padding: 0;
        padding-left: 5%;
    }
    /* .cadre {
        position: relative;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        color: #E1E2E2;
        text-align: center;
    } */
    
    .legende p {
        display: none;
    }
    
    #other-skills {
        display: block;
        font-size: 0.8em;
        letter-spacing: 5px;
        margin: 0 auto !important;
    }
    
    #other-skills .aos-item{
        margin: 20px auto;
    }
    
    #hobbies {
        margin-top: -10px;
        border-top: 1px solid #FB8122;
    }
    
    .flip-box-back p {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) { 

    #btn-cv {
        margin-top: 500px;
    }

    #langages {
        margin: 70px 10% 0;
    }

}

@media screen and (max-width: 320px) { 

    h1 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    #btn-cv {
        margin-top: 570px;
    }

    #langages {
        height: 405px;
        min-width: 80%;
        margin: 100px 10% 0;
        padding: 50px 0 50px 50px;
    }

    .bar {
        font-size: 20px !important;
    }

    .data {
        font-size: 12px;
    }

    #parcours {
        margin: 50px 15px 180px;
    }

    #portfolio {
        height: 1610px;
    }

    .timeline {
        padding: 12px;
    }

    #hobbies {
        padding: 100px 20px;
    }

}
